h1{
    margin: 0;
    font-family: 'Monoton', cursive;
}
section{
 font-size: 16px;
 color: #444;
 text-align: justify;
 -moz-column-count: 2;
 -moz-column-gap: 1em;
 -webkit-column-count: 2;
 -webkit-column-gap: 1em;
}
